@model bool
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>درگاه پرداخت Pay.ir</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-rtl.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @if (Model)
        {
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-6 center-block" style="float: none;">
                    <div class="alert alert-success">
                        <label style="color: green">پرداخت با موفقیت انجام شد.</label>
                        <br />
                        <label>شناسه تراکنش: @ViewBag.transId</label>
                        <br />
                        <label>مبلغ تراکنش: @ViewBag.amount</label>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-6 center-block" style="float: none;">
                    <div class="alert alert-danger">
                        <label style="color: red">@ViewBag.Error</label>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>